.main_body {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 30px;
}

@media only screen and (max-width:400px) {
    .main_body {
        grid-template-columns: 1fr;
    }
}